NODE_ENV = "development" # "development" || "staging" || "production"

# Database
DB_DIALECT = "mysql"
DB_USERNAME = "root"
DB_PASSWORD = "password"
DB_DATABASE = "db_mecca"
DB_HOST = "127.0.0.1"
DB_PORT = 3306